<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', path='/img/favicon.ico') }}">
    <title>Quizzer - Create, compete, enjoy</title>
</head>
<body>
    {% include "nav-bar.html" %}

    <div class="leaderboard-hero">
        <h1>About us</h1>
    </div>

    <div class="split-section">
        <div class="split-text">
            <h2>Who is behind it?</h2>
            <p>My name is Lucas and this is just my school project.</p>
            <p>I have had this idea for a while but never got a chance to really do it. If there was only more time and more people, this project could be finished and new community would see the sunlight.</p>
            <p>This project could just be the beggining of something bigger, you never know. 😉</p>
            <p>Anyways, thank you Dr. Turčínek and Mr. Pisařovic for the opportunity to try out making backend application, it was fun making (It took more than <a href="https://github.com/callmelukyn/quiz-app" target="_blank">40 hours</a>, syllabus is wrong 😭).</p>
        </div>
        <div class="split-image">
            <img src="../static/img/quiz.png" alt="About The Quizzer">
        </div>
    </div>

    {% include "footer.html" %}

<script src="{{ url_for('static', path='/js/sticky-nav.js') }}"></script>
</body>
</html>
