{% extends "dashboard.html" %}

{% block content %}

<div class="admin-container">
    <h2>User management</h2>
    <input id="userSearch" type="text" autocomplete="off" placeholder="Search nickname..." class="search-input">
    <div id="results" class="results-box"></div>
</div>

<div id="userPopup" class="popup hidden">
    <div class="popup-content">
        <span id="closePopup" class="close">&times;</span>
        <h3 id="popupNickname"></h3>
        <p><b>Email:️</b> <span id="popupEmail"></span></p>
        <p><b>Score:</b> <span id="popupScore"></span></p>
        <p><b>Role:</b> <span id="popupRole"></span></p>
        <hr>
        <label>Change score:</label>
        <input id="newScore" type="number" min="0">
        <div class="btn-group">
            <button id="saveScoreBtn" class="btn-save">✅ Save</button>
            <button id="promoteUserBtn"></button>
            <button id="deleteUserBtn" class="btn-delete">Delete account</button>
        </div>
    </div>
</div>

<div id="notifyPopup" class="popup hidden">
    <div class="popup-content" style="text-align:center;">
        <h3 id="notifyTitle"></h3>
        <p id="notifyMessage"></p>
    </div>
</div>

<script src="{{ url_for('static', path='/js/admin-panel.js') }}"></script>
{% endblock content %}
