<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/img/favicon.ico">
    <title>Quizzer - Create, compete, enjoy</title>
</head>
<body>
    <div class="leaderboard-hero">
        <h1>Dashboard</h1>
    </div>

    <div class="nav">
        <div>
            <a class="nav-logo" href="/">
                <img src="../static/img/favicon.ico">
            </a>
        </div>
<!--
        <div class="nav-items">
            <a class="nav-item" href="/">Lobby</a>
        </div>
-->
        <div class="nav-button">
            <a class="nav-btn" href="/">MY PROFILE</a>
        </div>
    </div>

    <!-- DASHBOARD -->

    <div class="dashboard-buttons-wrapper">
        <a class="dashboard-btn" href="/dashboard/quizzes">All quizzes</a>
        <a class="dashboard-btn" href="/dashboard/my_quizzes">My quizzes</a>
        <a class="dashboard-btn" href="/leaderboard">Leaderboard</a>
    </div>

    <!-- END OF DASHBOARD -->

    {% block content %}

    {% endblock content %}

    <div class="footer">
      <img src="../static/img/favicon.ico" alt="Logo">
      <p><a href="https://lukynweb.onrender.com/">LUKYN</a> | Made with ❤️ in Znojmo</p>
    </div>

<script>
  // Sticky navbar effect
const navbar = document.querySelector('.nav');
window.addEventListener('scroll', () => {
  if (window.scrollY > 100) {
    navbar.classList.add('scrolled');
  } else {
    navbar.classList.remove('scrolled');
  }
});
</script>
</body>
</html>
