<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', path='/img/favicon.ico') }}">
    <title>Quizzer - Create, compete, enjoy</title>
</head>
<body>
    <div class="leaderboard-hero">
        <h1> <a href="/dashboard">Dashboard</a></h1>
    </div>

    <div class="nav">
        <div>
            <a class="nav-logo" href="/">
                <img src="../static/img/favicon.ico">
            </a>
        </div>
        <div class="nav-button">
            <a class="nav-btn" href="/">MY PROFILE</a>
        </div>
    </div>

    <!-- DASHBOARD -->
    <div class="dashboard-buttons-wrapper">
        <a class="dashboard-btn" href="/quizzes">ALL Quizzes</a>
        <a class="dashboard-btn" href="/quizzes/mine">MY Quizzes</a>
        <a class="dashboard-btn-green" href="/quizzes/create">📄Create Quiz</a>
        <a class="dashboard-btn-gold" href="/leaderboard" target="_blank">🏆Leaderboard</a>
        <!-- IF ROLE JE ADMIN TAK JESTE:       -->
       <a class="dashboard-btn-red" href="/admin">😈Admin Tools</a>
    </div>

    {% block content %}

    {% endblock content %}

    {% include "footer.html" %}

<script src="{{ url_for('static', path='/js/sticky-nav.js') }}"></script>
</body>
</html>
