<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', path='/img/favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzer - Create, compete, enjoy</title>
</head>
<body>
    {% include "nav-bar.html" %}

    <div class="hero">
        <h1>Quizzer</h1>
        <p>Create your own quiz and test your skill, compete with others and place on top of our leaderboard.</p>
        <a class="hero-btn" href="/auth/register">BECOME THE <span>QUIZZER</span></a>
    </div>

    <div class="split-section">
        <div class="split-text">
            <h2>What is Quizzer?</h2>
            <p>The Quizzer is an online platform designed for competitive quiz enthusiasts who love to test their knowledge and challenge others.</p>
            <p>Create your own quizzes or join thousands of others already made by the community.</p>
            <p>Our intuitive interface makes creating, sharing, and playing quizzes fun and effortless for everyone.</p>
            <p>Whether you’re a student, teacher, or just love trivia, The Quizzer is your arena for smart entertainment.</p>
        </div>
        <div class="split-image">
            <img src="../static/img/quiz.png" alt="About The Quizzer">
        </div>
    </div>

    <div class="split-section">
        <div class="split-image">
            <img src="../static/img/leaderboard.png" alt="About The Quizzer">
        </div>
        <div class="split-text">
            <h2>Reward yourself</h2>
            <p>Other than getting more knowledge, you also be able to find completing quizzes rewarding.</p>
            <p>Track your performance, earn achievements, and climb the leaderboard to prove your expertise.</p>
            <p>Fight your friends on the global leaderboard and prove yourself worthy the placement.</p>
        </div>
    </div>

    <div class="stats-section">
        <div class="stat-box">
            <h3 class="stat-number" data-target="{{ stats[0] }}">0</h3>
            <p>Registered Users</p>
        </div>
      <div class="stat-box">
        <h3 class="stat-number" data-target="{{ stats[1] }}">0</h3>
        <p>Quizzes Created</p>
      </div>
      <div class="stat-box">
        <h3 class="stat-number" data-target="{{ stats[2] }}">0</h3>
        <p>Points Collected</p>
      </div>
    </div>

    <!-- OUR SPONSORS SECTION -->
<div class="sponsors-section">
  <h2>Our Sponsors</h2>
      <div class="sponsors-grid">
      <a class="sponsor-box" href="https://www.python.org/" target="_blank">
        <img src="../static/img/python-logo.png" alt="Python logo">
        <p>Python</p>
      </a>
      <a class="sponsor-box" href="https://fastapi.tiangolo.com/" target="_blank">
        <img src="../static/img/fastapi.svg" alt="FastAPI logo">
        <p>FastAPI</p>
      </a>
      <a class="sponsor-box" href="https://lukynweb.onrender.com/" target="_blank">
        <img src="../static/img/lukyn_logo.png" alt="Lukyn logo">
        <p>Lukyn K.</p>
      </a>
      <a class="sponsor-box" href="https://sqlite.org/" target="_blank">
        <img src="../static/img/sqlite.png" alt="SQLite logo">
        <p>SQLite</p>
      </a>
      <a class="sponsor-box" href="https://pef.mendelu.cz/" target="_blank">
        <img src="../static/img/Mendelu_PEF.jpg" alt="PEF logo">
        <p>MENDELU PEF</p>
      </a>
    </div>
</div>
    {% include "footer.html" %}

<script src="{{ url_for('static', path='/js/sticky-nav.js') }}"></script>
<script src="{{ url_for('static', path='/js/counting-animation.js') }}"></script>
</body>
</html>
