<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', path='/img/favicon.ico') }}">
    <title>Quizzer - Create, compete, enjoy</title>
</head>
<body>
    {% include "nav-bar.html" %}

    <div class="leaderboard-hero">
        <h1>🏆Leaderboard</h1>
        <p class="info">This is our room of glory. Leaderboard lists TOP 100 players with any points.</p>
        <p class="info" style="margin: 0px">You can click on player's nickname to check out their statistics.</p>
    </div>

{% block content %}

<div class="leaderboard-container">
    <table class="leaderboard-table">
        <thead>
            <tr>
                <th>Placement</th>
                <th>Nickname</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
                    {% for p in players %}
            <tr>
                {% if loop.index == 1 %}
                <td>🏆{{ loop.index }}</td>
                {% else %}
                <td>{{ loop.index }}</td>
                {% endif %}
                <td><a href="/players/{{p["id"]}}"target="_blank">{{ p["nickname"] }}</a></td>
                <td>{{ p["score"] }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">So far no players 😢</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

    {% include "footer.html" %}

<script src="{{ url_for('static', path='/js/sticky-nav.js') }}"></script>
</body>
</html>
