<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/img/favicon.ico">
    <title>Quizzer - Create, compete, enjoy</title>
</head>
<body>
<div class="form-background"></div>
    <div class="form-wrapper">
    <div class="form-container">
        <h2>Login</h2>
        <form action="/auth/login" method="post">
            <input type="email" name="email" placeholder="Email" value="{{ data[0]|default('') }}" required>
            <input type="password" name="password" placeholder="Password" value="{{ data[1]|default('') }}" required>
            <button type="submit">LOGIN</button>
        </form>
            <div class="form-footer">
                Don't have an account? <a href="/auth/register">Register</a>
                {% for e in errors %}
                <p>{{e}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>