<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/img/favicon.ico">
    <title>Quizzer - Create, compete, enjoy</title>
</head>
<html>
<body>
<div class="form-background"></div>
    <div class="form-wrapper">
    <div class="form-container">
        <h2>Login</h2>
        <form>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
            <button type="submit">LOGIN</button>
        </form>
            <div class="form-footer">
                Don't have an account? <a href="/auth/register">Register</a>
            </div>
        </div>
    </div>
</body>
</html>