<div class="nav">
        <div>
            <a class="nav-logo" href="/">
                <img src="{{ url_for('static', path='/img/favicon.ico') }}">
            </a>
        </div>

        <div class="nav-items">
            <a class="nav-item" href="/quizzes">Quizzes</a>
            <a class="nav-item" href="/leaderboard">Leaderboard</a>
            <a class="nav-item" href="/aboutus">About us</a>
        </div>

        <div class="nav-button">
            <a class="nav-btn" href="/dashboard">DASHBOARD</a>
        </div>
</div>