<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', path='/img/favicon.ico') }}">
    <title>Quizzer - Create, compete, enjoy</title>
</head>
<body>
    {% include "nav-bar.html" %}
    {% block content %}
<div class="leaderboard-hero">
    <h1>Statistics</h1>
</div>

<div class="quiz-section-container-stats">
    <div class="quiz-stats-grid">
        <div class="quiz-stats-card">
            <div class="quiz-card-content">
                <h3 class="quiz-stats-title">{{ player[0] }}</h3>
                <p class="quiz-stats-description">Score: {{ player[1] }}</p>
                <p class="quiz-stats-description">Score obtained by others: {{ quiz_stats[1] }}</p>
                <p class="quiz-stats-description">Quizzes created: {{ quiz_stats[0] }}</p>
                {% set position = player[2] %}
                {% if position == 1 %}
                <p class="quiz-stats-description">Position: {{ player[2] }} 🥇</p>
                {% elif position == 2 %}
                <p class="quiz-stats-description">Position: {{ player[2] }} 🥈</p>
                {% elif position == 3 %}
                <p class="quiz-stats-description">Position: {{ player[2] }} 🥉</p>
                {% else %}
                <p class="quiz-stats-description">Position: {{ player[2] }}</p>
                {% endif %}
                <p class="quiz-stats-description">Role: {{ player[3] }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

    {% include "footer.html" %}

<script src="{{ url_for('static', path='/js/sticky-nav.js') }}"></script>
</body>
</html>